@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #000;
    background-color: #fff;
  }
}

@layer components {
  .logo-container {
    height: 55px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
